
		{% extends 'layout.html' %} 
{% block 'body' %}
<div class="main">
<!-- <!-- Navigation Bar  -->   


<!--Imge slideshow --->


   

<!-- Map for branches view  -->
		<h3>Branches' location  </h3>
    		<div id="map"></div>
    		<script>
     		    function initMap() {
                    var bliss = {lat: 33.903267, lng: 35.483575};
					var lau ={lat: 33.890911, lng:35.509775};
					var location =[ bliss, lau]
								   					
                    var map = new google.maps.Map(document.getElementById('map'), {
                    zoom:12,
                    center: bliss
                 });
				var i;
				for (i=0; i <2 ; i++){
					var marker = new google.maps.Marker({
					position: location[i],
					<!---position: kaslik,-->
					<!--position: uluru,>
					map: map
					});
						}
				}
            </script>
            <script async defer
                 src="https://maps.googleapis.com/maps/api/js?key=AIzaSyArR9uG7OnBYJFeN4e5GtL5osCjVUSopQM&callback=initMap">
            </script>

        
		<a href = "https://www.google.co.in/maps/dir//33.8990810000,35.4836440000" class="button"> Get directions</a>


<!---history--->
		
		<div class="container" id="aboutus">
		    <div3 class="w3-content" style="max-width:700px">
				<h1 class="w3-center w3-padding-25px"><span class="w3-tag w3-wide">About Latte Art</span></h1>
                <p> History
                </p>
                </div >
		
<!----socail media--->
		<a href="https://www.facebook.com/LatteArtLebanon/?ref=br_rs" class="fab fa-facebook-square"></a>
		<a href="https://www.instagram.com/latteart.lb/?hl=en" class="fab fa-instagram"></a>
		</div>
{% endblock %}
