{% extends 'layout.html' %}
{% block 'body' %}
{% load staticfiles %}
 <h1>Menu</h1>
     <view-menu>Loading...</view-menu>

<script type="text/javascript" src="{% static 'MenuAngular/inline.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'MenuAngular/polyfills.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'MenuAngular/styles.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'MenuAngular/vendor.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'MenuAngular/main.bundle.js' %}"></script>
{% endblock %}
