body,html .main {
    font-size: 28px;
	height: 100%;
	font-family: "Inconsolata", sans-serif;
}

ul.navbar {
    z-index: 5555555;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: -webkit-sticky; /* Safari */
    position: sticky;
    top: 0;
}


ul.navbar li {
    float: left;
}

ul.navbar li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px 16px;
    text-decoration: none;
}

ul.navbar li a:hover {
    background-color: #111;
}

ul.navbar .active {
    background-color: #696969;

}
#map {
		margin: 25px;
        height: 400px;
        width: 80%;
       }
.main p {

	background-color : lightgrey;
	width: 100%;
	border: 25px black;
    padding: 25px;
    margin: 25px;
}

.main .fa {
    padding: 20px;
    font-size: 30px;
    width: 50px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
}

.main .fa:hover {
    opacity: 0.7;
}
.main .button {
    background-color: black;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

/* Full-width input fields */
.modal  input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
.modal button {
	background-color: #3366cc;
    <!-- background-color: #4CAF50; -->
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
	width: 100%;
    <!--width: 100%-->;
}

.modal button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.modal .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.modal .imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

.modal img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

.modal  span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
	overflow: auto; /* Enable scroll if needed */
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}

@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    .modal span.psw {
       display: block;
       float: none;
    }
  .modal   .cancelbtn {
       width: 100%;
    }
}
