<div class="row">
    <div class="col-lg-9">
           <div class="card card-outline mb-3">

                    <div class="card-header card-primary" style="font-size:15px;font-weight:bolder">Available Products</div>

                    <!--div class="input-group input-group-lg inner-addon left-addon" style="width:100%"><input type="search" class="form-control input-lg" (keyup)="filter()" style="border-radius:0px" name="" placeholder="search" [(ngModel)]="SearchTerm" /><i style="z-index:55;" class="fa fa-search searchIcon fa-lg"></i><span *ngIf="SearchTerm.length>0" (click)="clearSearch();" class="fa fa-window-close fa-2x searchClear"> </span></div-->
                      <div *ngFor="let product of Products; let i = index">
                          <div class="card-block card-secondary" style="padding:0;padding-left:10px;font-weight:strong;font-size:larger;">{{product.Category}}</div>
                    <div class="card-block" style="padding:0">
                        <ul  [dragula]='"fourth-bag"' class="list-group list-group-flush" [dragulaModel]='product.Items'>
                            <li *ngFor="let item of product.Items; let j = index" style="margin:5px;padding:14px;" class="list-group-item item">
<button class="btn pull-right" style="background-color:#1ab394;color:white;" (click)="add(item,i,j)">ADD</button>
                               <strong style="font-size:larger">{{item.Name}} _ {{item.Price}}$</strong>
                            </li>
                            </ul>
                    </div>
                </div>
              </div>

    </div>
    <div class="col-lg-3">
       <div class="affix">
          <div class="card card-outline mb-4">
                    <div class="card-header card-primary" style="font-size:15px;font-weight:larger">Your Order</div>
<input type="text" class="form-control input-lg" placeholder="Pickup Time"/>
                     <div class="card-block" style="padding:0">
                        <ul [dragula]='"fourth-bag"' class="list-group list-group-flush" [dragulaModel]='OrderItems' style="height:400px;overflow-y:auto;">
                            <li  style="margin:5px;" *ngFor="let item of OrderItems" class="list-group-item item">
<div class="row">
                              <div class="input-group col col-4">
                                <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button" (click)="item.Count=+item.Count-1;updatePrice();"><i class="fa fa-minus"></i></button>
                                </span>
                                <input type="text" class="form-control" style="padding:3px 4px" (change)="updatePrice();" [(ngModel)]="item.Count">
                                <span class="input-group-btn">
                                  <button class="btn btn-secondary" type="button" (click)="item.Count=+item.Count+1;updatePrice();"><i class=" fa fa-plus"></i></button>
                                </span>
                              </div>
       <strong>{{item.Name}}</strong><strong class="pull-right">{{item.Price}}$</strong>
     </div>
                            </li>
                              </ul>
                              <strong style="font-size:larger">Total Price:{{TotalPrice}}</strong>
                    </div>
                    <button (click)="sendOrder()" class="btn btn-primary">Confirm Order</button>
                </div>
        </div>
    </div>
</div>
