{% load static %}
<!Doctype html>
<html>
<head>

<meta charset="utf-8">
<title>Order</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
  <meta charset="utf-8">

  <title>Order</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
   <link rel="icon" type="image/x-icon" href="{% static 'favicon.ico' %">
<link href="{% static 'css/cards.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet">
<link href="{% static 'css/latte-art.css' %}" rel="stylesheet">
<link href="{% static 'css/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/fontawesome-all.js' %}"></script>
</head>
<body>
		<ul class="navbar">
            <li><a class="active" href="http://localhost:8000/OrdersApp/mainpage"><i class="fa fa-home"></i></a>
            <li><a href="http://localhost:8000/OrdersApp/menu">Menu</a></li>
            <li><a href="http://localhost:8000/OrdersApp/orders">Myorders</a></li>
            <li><a href="http://localhost:8000/OrdersApp/employees">Employees</a></li>
			<li onclick="document.getElementById('id01').style.display='block'"><a>Login</a></li>
		    <li><a  href="http://localhost:8000/OrdersApp/mainpage#aboutus">About us</a></li>
			<li><a href="http://localhost:8000/OrdersApp/products">Products</a></li>
			<li><a href="http://localhost:8000/OrdersApp/users">users</a></li>


        </ul>
		{% block 'body' %}
		{% endblock %}

<div id="id01" class="modal">
  <form class="modal-content animate" action="/action_page.php">
    <!-- <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/static/img_avatar2.png" alt="Avatar" class="avatar">
    </div> -->

    <div class="container">
      <label for="uname"><b>Username</b></label>
      <input type="text" placeholder="Enter Username" name="uname" required>

      <label for="psw"><b>Password</b></label>
      <input type="password" placeholder="Enter Password" name="psw" required>

      <button type="submit">Login</button>
      <label>
        <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}
</script>
</body>

</html>
