
{% load static %}
<!Doctype html>
<html>
<head>

<meta charset="utf-8">
<title>LatteArt</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
<link href="{% static 'css/cards.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-grid.min.css' %}" rel="stylesheet">
<link href="{% static 'css/latte-art.css' %}" rel="stylesheet">
<link href="{% static 'css/awesome-bootstrap-checkbox.css' %}" rel="stylesheet">
<script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/fontawesome-all.js' %}"></script>
</head>
<body>
		<ul class="navbar">
		<li><a class="active" href="http://localhost:8000/OrdersApp/mainpage"><i class="fa fa-home"></i></a>

		{% ifequal request.session.role "guest" %}
            <li><a href="http://localhost:8000/OrdersApp/menu">Menu</a></li>
			<li onclick="document.getElementById('id01').style.display='block'"><a>Login</a></li>
		{% endifequal %}

		{% ifequal request.session.role "customer"%}
			 <li><a href="http://localhost:8000/OrdersApp/menu">Menu</a></li>
        <li><a href="http://localhost:8000/OrdersApp/orders">Myorders</a></li>
			 <li><a href="http://localhost:8000/OrdersApp/logout">Logout</a></li>
			<!-->profile<-->
	    {% endifequal %}

	    {% ifequal request.session.role "manager" %}
			<li><a href="http://localhost:8000/OrdersApp/menu">Menu</a></li>
			<li><a href="http://localhost:8000/OrdersApp/products">Products</a></li>
            <li><a href="http://localhost:8000/OrdersApp/employees">Employees</a></li>
			<li><a href="http://localhost:8000/OrdersApp/logout">Logout</a></li>
			    <li><a href="http://localhost:8000/OrdersApp/orders">All orders</a></li>
			<!-->customers
				orders<-->
	    {% endifequal %}

		{% ifequal request.session.role "employee" %}
			<li><a href="http://localhost:8000/OrdersApp/menu">Menu</a></li>
			<li><a href="http://localhost:8000/OrdersApp/products">Products</a></li>
			<li><a href="http://localhost:8000/OrdersApp/users">users</a></li>
  <li><a href="http://localhost:8000/OrdersApp/orders">Branch orders</a></li>
			<li><a href="http://localhost:8000/OrdersApp/logout">Logout</a></li>
			<!-->customers
				orders<-->
		{% endifequal %}

		<li><a  href="http://localhost:8000/OrdersApp/mainpage#aboutus">About us</a></li>

        </ul>
		{% block 'body' %}
		{% endblock %}

<div id="id01" class="modal">
  <form class="modal-content animate" action="{% url 'login' %}">
    <!-- <div class="imgcontainer">
      <span onclick="document.getElementById('id01').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/static/img_avatar2.png" alt="Avatar" class="avatar">
    </div> -->

    <div class="container">
			<div class=" form-horizantal">
  <div class="form-group row">
		      <label for="uname" class="col col-2">Username:</label>
					<div class="control-label  col col-10">
		      <input type="text" name="uname" class="form-control" placeholder="Enter Username" required>
				</div>
		   </div>
  <div class="form-group row">
		      <label for="psw" class="col col-2">Password:</label>
					<div class="control-label  col col-10">
		      <input type="password" name="psw" class="form-control" placeholder="Enter Password" required>
				</div>
		   </div>
      <button type="submit" class="btn btn-primary" style="width:30%">Login</button>
      <label>
      <input type="checkbox" checked="checked" name="remember"> Remember me
      </label>
      <br/>
      <br/>
      <br/>
      <label for="signup"><b>Not A user?  Sign Up</b></label>
      <br/>
      <a type="text" href="signup" style="width:20%" class="btn btn-primary">SignUp</a>

    </div>

    <div class="container" style="background-color:#f1f1f1">
      <button type="button" onclick="document.getElementById('id01').style.display='none'" class="cancelbtn">Cancel</button>
      <span class="psw">Forgot <a href="#">password?</a></span>
    </div>
		</div>
  </form>
</div>

<script>
// Get the modal
var modal = document.getElementById('id01');

// When the user clicks anywhere outside of the modal, close it
window.onclick = function(event) {
    if (event.target == modal) {
        modal.style.display = "none";
    }
}


</script>
</body>

</html>
