{% extends 'layout.html' %} 
{% block 'body' %}
{% load staticfiles %}

    <h1>New Order</h1>

     <new-order>Loading...</new-order>
	 	
<script type="text/javascript" src="{% static 'NewOrderAngular/inline.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'NewOrderAngular/polyfills.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'NewOrderAngular/styles.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'NewOrderAngular/vendor.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'NewOrderAngular/main.bundle.js' %}"></script>
{% endblock %}