{% extends 'layout.html' %}
{% block 'body' %}
{% load staticfiles %}
<script type="text/javascript" src="{% static 'js/bootstrap-datepicker.min.js' %}"></script>
<script type="text/javascript" src="{% static 'js/bootstrap-timepicker.min.js' %}"></script>
<link href="{% static 'css/bootstrap-datepicker.min.css' %}" rel="stylesheet">
<link href="{% static 'css/bootstrap-timepicker.min.css' %}" rel="stylesheet">

    <h1>Orders List</h1>

     <view-orders>Loading...</view-orders>

<script type="text/javascript" src="{% static 'OrdersAngular/inline.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'OrdersAngular/polyfills.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'OrdersAngular/styles.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'OrdersAngular/vendor.bundle.js' %}"></script>
<script type="text/javascript" src="{% static 'OrdersAngular/main.bundle.js' %}"></script>
{% endblock %}
